/* Provide sufficient contrast against white background */
/* a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
} */

/* .table-hover:hover {
    background-color: #dadaff;
} */

:root {
    --blue: #1e90ff;
    --darkGreen: #006400;
    --lightGrey1: #f0edee;
    --dark: #222;
}


@font-face {
    font-family: 'Mukta';
    src: local('Mukta'), url(./fonts/Mukta-Bold.ttf) format('opentype');
}

@font-face {
    font-family: 'TitilliumWeb';
    src: local('TitilliumWeb'), url(./fonts/TitilliumWeb-Regular.ttf) format('opentype');
}

@font-face {
    font-family: 'TitilliumWeb';
    font-weight: 900;
    src: local('TitilliumWeb'), url(./fonts/TitilliumWeb-Bold.ttf) format('opentype');
}