
.produts-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 50px;
}

.produts-list-item {
    /* position: absolute; */
    cursor: pointer;
}

.produts-list-item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.produts-list-item-buy {
    right: 20px;
    bottom: 20px;
}

.produts-list-item-inner {
    position: relative;
}

.produts-list-item-reserved-number {
    position: absolute;
    right: 20px;
    bottom: 20px;
}